@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;700&family=Poppins:wght@400;700&family=Roboto:wght@400;500&display=swap');

$font-family-inter: 'Inter', sans-serif;
$font-family-roboto: 'Roboto', sans-serif;
$font-family-poppins: 'Poppins', sans-serif; 

#page-auth {
    display: flex;
    align-items: stretch;
    height: 100vh;

    aside {
        flex: 7;
        background: #196CFF;
        color: #fff;
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding: 120px 88px;

        img {
            max-width: 320px;
        }

        strong {
            font: 700 32px $font-family-poppins;
            line-height: 42px;
            margin-top: 16px;
        }

        p {
            font-size: 24px;
            line-height: 32px;
            margin-top: 16px;
            color: #f8f8f8;
        }
    }

    main {
        flex: 8;
        padding: 0 32px;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .main-content {
        display: flex;
        flex-direction: column;
        width: 100%;
        max-width: 315px;
        align-items: stretch;
        text-align: center;
        
        > img {
            align-self: center;
        }

        h2 {
            font-size: 24px;
            margin: 64px 0 24px;
            font-family: $font-family-poppins;
        }

        form {
            input {
                height: 50px;
                border-radius: 8px;
                padding: 0 16px;
                background: #fff;
                outline: none;
                border: none;
                box-shadow: 0 6px 16px rgba(0, 0, 0, 0.1);
            }

            button {
                margin-top: 16px;
            }

            button, input {
                width: 100%;
            }
        }

        p {
            font-size: 14px;
            font-family: $font-family-inter;
            color: #737388;
            margin-top: 16px;

            a {
                margin-left: 4px;
                color: #e559f9;
            }
        }
    }

    .create-room {
        margin-top: 64pz;
        height: 40px;
        border-radius: 8px;
        font: 500 $font-family-poppins;
        background: #FF403D;
        color: #fff;
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;
        border: 0;
        outline: none;
        transition: filter 0.2s;

        img {
            margin-right: 8px;
        }

        &:hover {
            filter: brightness(0.9);
        }
    }

    .separator {
        font: 300 14px $font-family-inter;
        color: #a8a8d3;
        margin: 32px 0;
        display: flex;
        align-items: center;

        &::before {
            content: '';
            flex: 1;
            height: 1px;
            background: #a8a8d3;
            margin-right: 16px;
        }

        &::after {
            content: '';
            flex: 1;
            height: 1px;
            background: #a8a8d3;
            margin-left: 16px;
        }
    }
}