@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;700&family=Poppins:wght@400;700&family=Roboto:wght@400;500&display=swap');

$font-family-inter: 'Inter', sans-serif;
$font-family-roboto: 'Roboto', sans-serif;
$font-family-poppins: 'Poppins', sans-serif; 

.button {
    margin-top: 64pz;
    height: 40px;
    border-radius: 8px;
    font: 700 $font-family-roboto;
    background: #FF80AB;
    padding: 0 32px;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    border: 0;
    outline: none;
    transition: filter 0.2s;

    img {
        margin-right: 8px;
    }

    &.outlined {
        background: #fff;
        border: 1px solid #FF80AB;
        color: #e24e80;
    }

    &:not(:disabled):hover {
        filter: brightness(0.9);
    }

    &:disabled {
        opacity: 0.6;
        cursor: not-allowed;
    }
}