@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;700&family=Poppins:wght@400;700&family=Roboto:wght@400;500&display=swap');

$font-family-inter: 'Inter', sans-serif;
$font-family-roboto: 'Roboto', sans-serif;
$font-family-poppins: 'Poppins', sans-serif; 

.modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0,0.5);
    display: flex;
    align-items: center;
    justify-content: center;

    .modal-container {
        background: #fff;
        border-radius: 8px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
        padding: 20px;
        max-width: 600px;
        width: 100%;

        .modal-header {
            display: flex;
            justify-content: space-between;
            align-items: center;
            margin-bottom: 10px;


            .close-button {
                background: none;
                border: 0;
                cursor: pointer;
                font-size: 16px;
                color: #555;
                padding: 5px;

                img {
                    width: 30px;
                    height: 30px;
                }
            }
        }
    }

    .modal-content {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding: 10px;
        max-width: 600px;
        width: 100%;

        > img {
            width: 100px;
            height: 100px;
            margin-bottom: 20px;
            cursor: pointer;
        }

        h2 {
            font-size: 24px;
            font-weight: 500;
            color: #242424;
            font-family: $font-family-inter;
        }

        .modal-footer {
            display: flex;
            justify-content: space-between;
            align-items: center;
            margin-top: 20px;

            .button-delete {
                margin-top: 64pz;
                height: 40px;
                border-radius: 8px;
                font: 400 $font-family-roboto;
                background: #FF403D;
                padding: 0 32px;
                color: #fff;
                display: flex;
                justify-content: center;
                align-items: center;
                cursor: pointer;
                border: 0;
                outline: none;
                transition: filter 0.2s;
        
            
                &:not(:disabled):hover {
                    filter: brightness(0.9);
                }
            
                &:disabled {
                    opacity: 0.6;
                    cursor: not-allowed;
                }
            }
        }
    }
}